.chatContainer {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;    
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    margin: 10vh auto;
    width: 80vw;
    height: 80vh;
}

.header {
    width: 100%;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
}

.header button {
    border-radius: 5px;
    border: none;
    font-size: 16px; 
    cursor: pointer;
    max-height: 40px;
}

.dropdown {
    position: relative;
}

.dropdown button {
    height: 100%;
    width: 100%;
}

.list {
    width: 100%;
    list-style-type: none;
    position: absolute;
    z-index: 100;
    background: white;
    padding: 0;
    text-align: center;
    border: 1px solid grey;
    border-radius: 6px; 
    margin-top: 5px;
    padding: 5px 0px;
}

.list li {
    padding: 0px 0px 10px 0px;
}

.list li:hover {
    background: #f2f5f6;
}

.nameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nameContainer > * {
    margin: 0
} 

.mainBody {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.messages {
    flex: 4;
    padding: 0px 20px;
    width: 100%;
    background: #f2f5f6;
    word-break: break-all;
}

.messageItem {
    list-style-type: none;
    margin: 8px;
    min-width: 200px;
    padding: 12px 8px;
    color: white;
    width:fit-content;
    border-radius: 30px;
    padding-left: 1em;
}

.myMessage {
    background: #03a2ec;
    margin-left: auto;
}

.othersMessage {
    margin-right: auto;
    background: #f67172;
}

.messages2 {
    padding: 4px 20px;
    width: 100%;
    background: white;
    border-radius: 0 0 1em 1em;
}

.messageButton {
    background: transparent;
    outline: none;
    border-radius: 50px;
    border: none;
    width: 70px;
    font-size: 16px; 
    cursor: pointer;
}

.newMessageBox {
    border: none;
    outline: none;
    padding: 15px 15px;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    resize: none;
}

.newMessageForm {
    display: flex;
    height: 50px;
    flex-direction: row;
}



.listIcon {
    font-size: 1.5em;
    vertical-align: -2px;
}


@media (max-width: 650px) {
    .chatContainer {    
        margin: 0;
        width: 100vw;
        height: 100vh;
        border-radius: 0px;
    }

    .mainBody {
        width: 100%;
    }

    .messages {
        /* height:40vh; */
        flex: 5;
        padding: 0px 20px;
        width: 100vw;
        background: #f2f5f6;
        word-break: break-all;
    }

    .messages2 {
        max-height: 100px;
        height: 60px;
        width: 100%;
        background: white;
    }

    .messageButton {
        outline: none;
        border-radius: 50px;
        border: none;
        font-size: 16px; 
        cursor: pointer;
    }
    
    .newMessageBox {
        border: none;
        outline: none;
        padding: 0%;
        width: 100%;
        font-size: 16px;
        resize: none;
    }


}