.chatContainer {
    height: 100vh;
}

.header {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
    /* align-items: center; */
}

.nameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nameContainer > * {
    margin: 0
} 

.messages {
    flex: 4; 
    border: 1px solid red;
}

.mainBody {
    height: 80vh;
    flex-direction: column;
    display: flex;
}

.messageButton {
    background: transparent;
    outline: none;
    border-radius: 50px;
    border: none;
    width: 70px;
    font-size: 16px; 
    cursor: pointer;
}

.newMessageBox {
    border: none;
    background: rgba(30, 228, 148, 0.7);
    outline: none;
    padding: 15px 15px;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    resize: none;
}

.newMessageForm {
    margin: 10px 30px 10px;
    background: rgba(30, 228, 148, 0.7);
    display: flex;
    height: 50px;
    flex-direction: row;
}