.chatContainer {
    margin: 20% auto;
    width: 60vw;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;    
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.header {
    margin: 1em;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
}

.nameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nameContainer > * {
    margin: 0
} 

.mainBody {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.messages {
    flex: 4; 
    height: 40vh;
    padding: 0px 20px;
    width: 100%;
    background: #f2f5f6;
    word-break: break-all;
}

.messages2 {
    padding: 4px 20px;
    width: 100%;
    background: white;
    border-radius: 0 0 1em 1em;
}

.messageButton {
    background: transparent;
    outline: none;
    border-radius: 50px;
    border: none;
    width: 70px;
    font-size: 16px; 
    cursor: pointer;
}

.newMessageBox {
    border: none;
    outline: none;
    padding: 15px 15px;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    resize: none;
}

.newMessageForm {
    /* border-radius: 0 0 1em 1em; */
    /* background: rgba(30, 228, 148, 0.7); */
    display: flex;
    height: 50px;
    flex-direction: row;
}

.dropdown {
    border-radius: 5px;
    border: none;
    font-size: 16px; 
    cursor: pointer;
}

.button {
    border-radius: 5px;
    border: none;
    font-size: 16px; 
    cursor: pointer;
}