.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: white;
  align-items: center;
  justify-content: center;
}

.signin {
  color: #8C55AA;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 23px;
}

.inputs {
  margin: 0 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nameInput {
  margin: 0 2em 20px 2em;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: #f2f5f6;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.roomInput {
  margin: 0 2em 20px 2em;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: #f2f5f6;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.nameInput:focus, .roomInput:focus {
  border: 2px solid rgba(0, 0, 0, 0.18) !important;
  
}

.button {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #9C27B0, #E040FB);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

@media (max-width: 650px) {
  .container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background: white;
    align-items: center;
    justify-content: center;
    margin: 0px;
    border-radius: 0px;
  }
}