.notificationContainer {
	font-size: 14px;
	box-sizing: border-box;
	position: fixed;
	z-index: 999999;
    top: 12px;
	right: 10px;
	transition: transform .6s ease-in-out;
	animation: toast-in-right .7s;
}


.notification {
	transition: .3s ease;
	position: relative;
	pointer-events: auto;
	overflow: hidden;
	border-radius: 0.5em;
	margin: 0 0 6px;
	margin-bottom: 15px;
	/* width: 300px; */
	box-shadow: 0 0 10px #999;
	color: #000;
	opacity: .9;
	background-position: 15px;
	background-repeat: no-repeat;
    top: 12px;
	right: 10px;
	transition: transform .6s ease-in-out;
	animation: toast-in-right .7s;
}

.notification:hover {
	box-shadow: 0 0 12px #fff;
	opacity: 1;
	cursor: pointer
}

.notificationTitle {
	padding: 10px 20px 22px; 
	font-weight: 700;
	font-size: 16px;
	text-align: left;
    height: 18px;
	white-space: nowrap;
}

.notificationTitle  p{
	margin: 0px;
}



.notificationMessage {
	padding: 5px 20px 10px; 
	margin: 0;
	text-align: left;
    margin-left: -1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.notificationMessage  p{
	margin: 0px;
}

.notificationContainer button {
	position: relative;
	right: -.3em;
	top: 0.1em;
	float: right;
	font-weight: 700;
	/* color: #fff; */
	outline: none;
	border: none; 
	line-height: 1;
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 0
}

@keyframes toast-in-right {
	from {
	  transform: translateX(100%);
	  
	}
	to {
	  transform: translateX(0);
	}
}

@keyframes toast-in-left {
	from {
		transform: translateX(-100%);
		
	}
	to {
		transform: translateX(0);
	}
}
