.notificationContainer {
	font-size: 14px;
	box-sizing: border-box;
	position: fixed;
	z-index: 999999;
    top: 12px;
	right: 10px;
	transition: transform .6s ease-in-out;
	animation: toast-in-right .7s;
}


.notification {
	background: #6cb1f7;
	transition: .3s ease;
	position: relative;
	pointer-events: auto;
	overflow: hidden;
	margin: 0 0 6px;
    height: 60px;
    padding: 10px 20px;   
	margin-bottom: 15px;
	width: 300px;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 0 10px #999;
	color: #000;
	opacity: .9;
	background-position: 15px;
	background-repeat: no-repeat;
    top: 12px;
	right: 10px;
	transition: transform .6s ease-in-out;
	animation: toast-in-right .7s;
}

/* .notification:hover {
	box-shadow: 0 0 12px #fff;
	opacity: 1;
	cursor: pointer
} */

.notificationTitle {
	font-weight: 700;
	font-size: 16px;
	text-align: left;
	margin-top: 0;
	margin-bottom: 6px;
    width: 300px;
    height: 18px;
}



.notificationMessage {
	margin: 0;
	text-align: left;
    height: 18px;
    margin-left: -1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



.notificationContainer button {
	position: relative;
	right: -.3em;
	top: 0.1em;
	float: right;
	font-weight: 700;
	/* color: #fff; */
	outline: none;
	border: none; 
	line-height: 1;
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 0
}

@keyframes toast-in-right {
	from {
	  transform: translateX(100%);
	  
	}
	to {
	  transform: translateX(0);
	}
}

@keyframes toast-in-left {
	from {
		transform: translateX(-100%);
		
	}
	to {
		transform: translateX(0);
	}
}
